<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link href="/css/theme.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="/js/task.js"></script>
    <title>商店</title>
</head>
<body style=" background: url(/pic/background_3.jpg) no-repeat center center fixed; background-size: 100% 100%;">
<div id="app">
    <!-- 顶部导航栏 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">商店</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li :class="data.show.tab===0?'active':''"><a @click="setTab(0)">
                        <span class="glyphicon glyphicon-bed"></span>任务列表</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <span class="glyphicon glyphicon-envelop"></span>{{data.user.username}}
                        </a>
                    </li>
                    <li>
                        <a @click="logout()"><span class="glyphicon glyphicon-log-out"></span> 退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 主显示区域 -->
    <div class="container theme-showcase" role="main">
        <!-- 列表显示区 -->
        <div v-if="data.show.func==='list'">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th v-for="title in data.titles[data.show.tab]">{{title}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="i in data.list">
                        <td v-for="j in i">{{j}}</td>
                        <td>
                            <button class="btn btn-sm btn-success" @click="finished(i.id)">完成订单</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    let app = new Vue({
      el: "#app",
      data: {data, url},
      methods: {
        // 全局操作
        setTab(tab) {
          if (this.data.show.func === 'list') {
            this.data.show.tab = tab;
            this.loadList();
          }
        },
        logout() {
          jQuery.get(this.url.logout).then(res => {
            if (res) window.location.href = this.url.root;
          });
        },
        loadList() {
          jQuery.get(this.url.findAll(this.data.show.tab)).then(res => {
            this.data.list = JSON.parse(res);
          });
        },
        // 实体操作
        edit(id) {
          this.data.show.func = 'edit';
          this.loadEntity(id);
        },
        create() {
          this.data.show.func = 'edit';
          this.data.entity = {};
        },
        loadEntity(id) {
          jQuery.get(this.url.findOne(this.data.show.tab) + id).then(res => {
            this.data.entity = JSON.parse(res);
          });
        },
        finished(id){
          jQuery.get(this.url.finished(id)).then(res=>{
            alert(res);
            this.loadList();
          });
        },
        save(){
          jQuery.get(this.url.save(this.data.show.tab)+urlEncoding2(data.entity))
                .then(res=>{
            alert('保存'+res);
            this.data.show.func='list';
            this.loadList();
          });
        },
        remove(id) {
            jQuery.get(this.url.remove(this.data.show.tab)+id)
                .then(res=>{
            alert('删除'+res);
            this.data.show.func='list';
            this.loadList();
          });
        }
      },
      created() {
        this.loadList();
      }
    });

</script>
</body>
</html>